.product {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: auto;
    margin-top: 20px;
    max-height: 400px;
    min-width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    z-index: 1;
}
.product__rating {
    display: flex;
}
.product__rating p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
}
.product__image {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50%; 
    width: 50%;
    height: auto;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.product__image img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}


.product > img {
    height: 100px;
    width: 100px;
    align-items: center;    
    object-fit: contain;
    margin-top: 15px;
    margin-bottom: 15px;
}
.product__title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product__price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product__info {
    height: 60px;
    margin-bottom: 0;
}

.product__button {
    text-decoration: none;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 10px;
    color: #111;
}
