@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

article {
    max-width: 1000px;
    margin: 10px auto;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
